<div>
  <div *ngIf="initialized">
    <h2>{{clan.ime}} {{clan.priimek}}</h2>
    <h3>{{clan.skavtskoIme}}</h3>
    <h3>{{clan.steg}}</h3>
    <div>
      <app-skupine [clanId]="clan.id"></app-skupine>
    </div>
    <div>
      <app-osebno-spremljanje [clanId]="clan.id"></app-osebno-spremljanje>
    </div>
    <div>
      <!-- <app-termini [clanId]="clan.id"></app-termini> -->
    </div>
  </div>
  <div *ngIf="!initialized">
    <p>stran se nalaga</p>
  </div>
</div>
<app-menu></app-menu>
