<div>
  <form [formGroup]="osebnoSpremljanjePutForm" (ngSubmit)="submitForm()">
      <div>
        <label for="datum">Datum:</label>
        <input type="datetime-local" id="datum" formControlName="datum">
        <div *ngIf="osebnoSpremljanjePutForm.get('datum')?.invalid && osebnoSpremljanjePutForm.get('datum')?.touched">
          <small class="error">Datum is required.</small>
        </div>
      </div>

      <div>
        <label for="naslov">Naslov:</label>
        <input type="text" id="naslov" formControlName="naslov">
        <div *ngIf="osebnoSpremljanjePutForm.get('naslov')?.invalid && osebnoSpremljanjePutForm.get('naslov')?.touched">
          <small class="error">Dodaj naslov zapisu</small>
        </div>
      </div>

      <div>
        <label for="vsebina">Vsebina:</label>
        <textarea id="vsebina" formControlName="vsebina"></textarea>
      </div>

      <button type="submit" [disabled]="osebnoSpremljanjePutForm.invalid">Submit</button>
  </form>
  <div *ngIf="submitSuccessfull">
    <p>Uspesno si dodal zapis</p>
  </div>
</div>
