<div>
  <form [formGroup]="prisotnostiPutForm" (ngSubmit)="onSubmit()" *ngIf="!submitSuccessfull">
    <div formArrayName="prisotnosti">
      <div *ngFor="let prisotnostForm of prisotnostiForm.controls; let i = index" [formGroupName]="i">
        <h5>{{prisotnosti.at(i)!.imeClana}} {{prisotnosti.at(i)!.priimekClana}}:</h5>
        <div>
          <select formControlName="prisotnost">
            <!-- <option value="" disabled>Izberi</option> Default disabled option -->
            <option *ngFor="let tip of tipiPrisotnosti" [value]="tip">
              {{ tip.valueOf() }}
            </option>
          </select>
          <div *ngIf="prisotnostForm.get('prisotnost')!.invalid && prisotnostiForm.get('prisotnost')!.touched">
            <p *ngIf="prisotnostForm.get('prisotnost')!.hasError('required')">Izberi neki.</p>
          </div>
        </div>
        <div>
          <label>Opomba: </label>
          <input formControlName="opomba" type="text" placeholder="Opomba ">
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="prisotnostiPutForm.invalid">Submit</button>
  </form>
  <div *ngIf="submitSuccessfull">
    <p>Uspesno si posodobu prisotnosti</p>
  </div>
</div>
