<div *ngIf="isVisible" style="background-color: brown;">
  <div>
    <div *ngIf="!skupinaPosted">
      <app-skupina-post-form #skupinaPostForm (skupinaPostSuccess)="onSkupinaPostSuccess($event)"></app-skupina-post-form>
    </div>
    <div *ngIf="skupinaPosted">
      <p>Ustvaril si skupino</p>
      <app-clani-skupine-put-form #claniSkupinePutForm [skupinaId]="this.novaSkupina!.id" (submitSuccess)="onClaniPutSuccess()"></app-clani-skupine-put-form>
    </div>
    <div *ngIf="claniSkupinePosted">
      <p>Ustvaril si novo skupino</p>
      <button (click)="close()">Zapri</button>
    </div>
  </div>
</div>
