  <div>
  <h4>Moji varovanci</h4>
  <app-clan-post-button [masterId]="this.user.id" (postSuccess)="onVarovanecPostSuccess()"></app-clan-post-button>
  <ul>
    <li *ngFor="let varovanec of mojiVarovanci">
      <p>{{varovanec.ime}} {{varovanec.priimek}}</p>
      <app-clan-put-button [clan]="varovanec" (putSuccess)="onVarovanecPutSuccess()"></app-clan-put-button>
      <app-clan-delete-button [clanId]="varovanec.id" (deleteSuccess)="onVarovanecDeleteSuccess()"></app-clan-delete-button>
    </li>
  </ul>
</div>
