<div>
  <form [formGroup]="clanPutForm" (ngSubmit)="clanPutSubmit()" *ngIf="!submitSuccessfull">
    <div>
      <label for="ime">Ime</label>
      <input
        type="text"
        id="ime"
        formControlName="ime"
      />
      <div *ngIf="clanPutForm.get('ime')?.invalid && clanPutForm.get('ime')?.touched" class="error">
        <div *ngIf="clanPutForm.get('ime')?.hasError('required')">
          Sam ce si zelva U imas eno crko dolgo ime.
        </div>
        <div *ngIf="clanPutForm.get('ime')?.hasError('minlength')">
          Ziher ima ime.
        </div>
      </div>
    </div>

    <div>
      <label for="priimek">Priimek</label>
      <input
        type="text"
        id="priimek"
        formControlName="priimek"
      />
      <div *ngIf="clanPutForm.get('priimek')?.invalid && clanPutForm.get('priimek')?.touched" class="error">
        <div *ngIf="clanPutForm.get('priimek')?.hasError('required')">
          Vsakdo ima priimek.
        </div>
        <div *ngIf="clanPutForm.get('priimek')?.hasError('minlength')">
          Prekratek priimek
        </div>
      </div>
    </div>

    <div>
      <label for="steg">Steg</label>
      <input
        type="text"
        id="steg"
        formControlName="steg"
      />
    </div>

    <div>
      <label for="skavtskoIme">Skavtsko ime</label>
      <input
        type="text"
        id="skavtskoIme"
        formControlName="skavtskoIme"
      />
    </div>

    <button type="submit" [disabled]="clanPutForm.invalid">Submit</button>
  </form>
  <div *ngIf="submitSuccessfull" style="background-color: greenyellow;">
    <p>Dodal si novega clana</p>
  </div>
</div>
