<div>
  <div *ngIf="initialized">
    <h2>{{srecanje.ime}}</h2>
    <h4>{{srecanje.imeSkupine}}</h4>
    <h4>{{srecanje.datumOd.toISOString()}} - {{srecanje.datumDo.toISOString()}}</h4>
    <h4>{{srecanje.kraj}}</h4>
    <p>{{srecanje.opis}}</p>
    <p *ngIf="srecanje.temperatura">Temperatura bo okoli {{srecanje.temperatura}}</p>
    <p *ngIf="srecanje.padavine">Padalo bo najvec {{srecanje.padavine}} mm dezja.</p>
    <app-srecanje-put-button [srecanje]="srecanje" (putSuccess)="onSrecanjePutSuccess($event)"></app-srecanje-put-button>
    <app-srecanje-delete-button [srecanjeId]="srecanje.id" (deleteSuccess)="onSrecanjeDeleteSuccess()"></app-srecanje-delete-button>
    <div *ngIf="srecanje.belezenje">
      <div *ngIf="!urejanjePrisotnosti">
        <button (click)="uredi()">Uredi</button>
        <app-prisotnosti-delete-vse-button [srecanjeId]="srecanje.id" (deleteSuccess)="onPrisotnostiDeleteSuccess()"></app-prisotnosti-delete-vse-button>
        <app-prisotnosti [srecanjeId]="srecanje.id" (prisotnostiLoad)="naloziPrisotnosti($event)"></app-prisotnosti>
      </div>
      <div *ngIf="urejanjePrisotnosti">
        <app-prisotnosti-put-form [prisotnosti]="prisotnosti!" (submitSuccess)="onPrisotnostiPutSuccess($event)"></app-prisotnosti-put-form>
      </div>
    </div>
    <div *ngIf="!srecanje.belezenje">
      <app-prisotnosti-post-button [srecanjeId]="srecanje.id" (postSuccess)="onPrisotnostiPostSuccess($event)"></app-prisotnosti-post-button>
    </div>
  </div>
  <div *ngIf="!initialized">
    <p>Srecanja se nalagajo</p>
  </div>
</div>
<app-menu></app-menu>
